@charset "UTF-8";
/* josefin-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v32-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/josefin-sans-v32-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-size: inherit;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

ul {
  list-style: none;
}

/**
 * Сброс стилей у кнопки.
 * Придётся немного поработать, чтобы получить нейтральный вид.
*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 16px;
}

html {
  font-size: 62.5%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #5956E9;
  padding-top: 47px;
  padding-bottom: 20px;
}

.header__wrapper {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header__download {
  color: var(--White, #FFF);
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 6px;
  display: block;
  border-radius: 3px;
  background: var(--Royal-blue, #5956E9);
  margin-right: 3px;
}

.header__logo {
  border-radius: 5px;
  background: var(--White, #FFF);
  /* Effect-1 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.burger {
  width: 18px;
  height: 16px;
  position: relative;
  margin-left: 12px;
}
.burger::after, .burger::before,
.burger span {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.burger span {
  top: 7px;
}
.burger::after {
  bottom: 0;
}
.burger::before {
  top: 0;
}

.logo__img {
  padding: 24px 10px;
}

.info {
  padding-top: 128px;
  padding-bottom: 113px;
  background: url("../img/info__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.info__wrapper {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
}

.info__container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 30px 12px 21px 18px;
  position: relative;
  z-index: 2;
}

.info__box {
  width: 323px;
  margin: 0 auto;
  position: relative;
}

.info__box::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  width: 323px;
  height: 370px;
  border: 10px solid #7572FF;
}

.info__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: var(--Royal-blue, #5956E9);
  font-size: 2.5rem;
  margin-bottom: 18px;
}

.info__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  font-size: 1.6rem;
  color: var(--gray-paragraph, #6C6C72);
  margin-bottom: 30px;
  text-align: left;
}

.info__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: var(--Black, #232233);
  font-size: 2rem;
  margin-bottom: 18px;
}

.info__example {
  margin-top: 60px;
  display: block;
  margin-left: auto;
}

.about__wrapper {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 70px;
}

.about__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-size: 2.5rem;
}

.about__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: var(--gray-paragraph, #6C6C72);
  text-align: center;
  margin-top: 18px;
}

.about__img {
  display: block;
  margin: 40px auto 0 auto;
}

.advantages {
  padding-top: 75px;
}

.advantages__item {
  width: 343px;
  border-radius: 10px;
  background: var(--White, #FFF);
  padding: 18px 16px 10px 61px;
  /* Effect-1 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}

.advantages__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3px;
  text-align: left;
}

.advantages__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  font-size: 1.6rem;
}

.advantages__img {
  display: block;
  position: absolute;
  top: 18px;
  left: 18px;
}

.features {
  background: url(../img/features__bg.jpg), lightgray 50%/cover no-repeat;
  background-repeat-x: no-repeat;
  background-size: cover;
}

.features__wrapper {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 18px;
}

.features__title--big {
  font-size: 2.5rem;
}

.features__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.features__img {
  display: block;
  margin: 0 auto 30px auto;
}

.features__img--big {
  border-radius: 40px;
  box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.5);
  margin-top: 60px;
  margin-bottom: 120px;
}

.app__wrapper {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  width: 329px;
  padding-top: 103px;
  padding-bottom: 60px;
}

.app__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: var(--Black, #232233);
  /* H5-25px */
  font-size: 2.5rem;
  text-align: left;
  width: 288px;
  margin-bottom: 18px;
}

.app__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: var(--gray-paragraph, #6C6C72);
  font-size: 1.6rem;
  margin-bottom: 41px;
}

.app__download {
  display: flex;
  justify-content: space-between;
}

.app__list {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
}

.app__item {
  width: 96px;
  height: 100px;
  border-radius: 5px;
  background: var(--Royal-blue, #5956E9);
  /* Effect-1 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 11px 0 12px 0;
}

.app__img {
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 auto 8px auto;
}

.app__number {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-bottom: -3px;
}

.app__info {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}

.app__img--big {
  width: 335px;
  height: auto;
  margin-top: 60px;
}

.how-to-use {
  background: var(--Royal-blue, #5956E9);
}

.how-to-use__wrapper {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 116px;
  margin-bottom: 134px;
  position: relative;
}

.how-to-use__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 40px;
}

.how-to-use__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}

.how-to-use__video {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
  border-radius: 10px;
  /* Effect-2 */
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
}

.rewiev {
  background: url(../img/review__bg.jpg), lightgray 50%/cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.rewiev__wrapper {
  /*       @include mixin.mobile-wrapper; */
  padding-bottom: 62px;
  padding-top: 60px;
}

.rewiev__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 18px;
}

.rewiev__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  max-width: 300px;
  margin: 0 auto 32px auto;
}

.slider__box {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  position: relative;
}

.slider__item {
  min-width: 343px;
  width: 343px;
  border-radius: 10px;
  background: #FFF;
  /* Effect-2 */
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
  padding: 20px 14px;
}

.slider__item {
  position: relative;
  transform: scale(1, 0.86);
}

.slider__item_active {
  position: absolute;
  z-index: 2;
  top: 0;
  transform: scale(1, 1);
}

.slider__img {
  display: block;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.slider__name {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-size: 2.5rem;
  color: var(--Black, #232233);
}

.slider__profession {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: var(--Black, #232233);
  text-align: center;
  margin-bottom: 18px;
}

.slider__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: var(--gray-paragraph, #6C6C72);
  text-align: center;
}

.slider__controls {
  text-align: center;
  margin-top: 42px;
}

.slider__button {
  /* width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFF; */
  margin: 0 9px 0 9px;
}
.slider__button svg circle:nth-child(2) {
  display: none;
}
.slider__button_active svg circle:nth-child(2) {
  display: block;
}

.blog__wrapper {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 1px;
}

.blog__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 18px;
}

.blog__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 40px;
}

.articles__item {
  width: 343px;
  border-radius: 10px;
  background: var(--White, #FFF);
  /* Effect-1 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.articles__img {
  display: block;
  width: 100%;
}

.articles__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-size: 2rem;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 18px;
  margin-left: 18px;
}

.articles__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-right: 8px;
}

.articles__link {
  color: var(--Royal-blue, #5956E9);
  font-family: Josefin Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 26px */
  text-decoration-line: underline;
  text-transform: uppercase;
  text-align: left;
  margin-left: 18px;
}

.contacts {
  padding-bottom: 30px;
  padding-top: 30px;
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--White, #FFF);
  filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.24));
  position: relative;
}
.contacts::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translate(-50%);
  height: 4px;
  width: 117px;
  background: #232233;
}

.contacts__img {
  display: block;
  margin: 0 auto 20px auto;
}

.contacts__link {
  display: block;
  margin-bottom: 50px;
}

.contacts__link:nth-child(3) {
  margin-bottom: 0;
}

.contacts__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: var(--Black, #232233);
  font-size: 2rem;
  display: block;
  margin: 0 auto;
}

.footer {
  background: var(--Black, #232233);
  margin-top: -160px;
}

.footer__wrapper {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  padding-top: 220px;
  padding-bottom: 30px;
}

.social__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: var(--White, #FFF);
  /* H4-31.25px */
  font-family: Josefin Sans;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: 47.25px;
  /* 151.2% */
  text-transform: uppercase;
  text-align: left;
}

.social__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: #fff;
}

.social__list {
  margin-top: 38px;
  display: flex;
}

.social__item {
  border-left: 1px solid #fff;
  padding: 0 30px 0 30px;
}

.social__item:first-child {
  padding-left: 0;
  border-left: none;
}

.links {
  margin-top: 60px;
}

.links__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: white;
  text-align: left;
  font-size: 25px;
}

.links__item {
  margin-top: 11px;
}

.links__link {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
}

.news {
  margin-top: 60px;
}

.news__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  text-align: left;
  margin-bottom: 11px;
}

.news__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 33px;
}

.news__form {
  position: relative;
}

.news__input-text {
  width: 343px;
  height: 50px;
  border-radius: 4px;
}
.news__input-text::-moz-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: var(--gray-paragraph, #6C6C72);
  padding: 13px 17px;
}
.news__input-text::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.6rem;
  color: var(--gray-paragraph, #6C6C72);
  padding: 13px 17px;
}

.news__button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.copyright {
  position: relative;
  margin-top: 83px;
}
.copyright::after {
  content: "";
  position: absolute;
  top: -23px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #FFF;
}

.copyright__img {
  position: absolute;
  top: 0;
  left: 0;
}

.copyright__text {
  color: var(--White, #FFF);
  text-align: center;
  /* H8-12.8 */
  font-family: Josefin Sans;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  line-height: 1.5;
}/*# sourceMappingURL=style.css.map */