@use "./ulits/font";
@use "./ulits/mixin";
@use "./ulits/reset";
@use "./ulits/variables";
@use "./ulits/general";
@use "./ulits/visually-hidden";
@use "./blocks/main";
@use "./blocks/header";
@use "./blocks/burger";
@use "./blocks/logo";
@use "./blocks/info";
@use "./blocks/about";
@use "./blocks/advantages";
@use "./blocks/features";
@use "./blocks/app";
@use "./blocks/how-to-use";
@use "./blocks/rewiev";
@use "./blocks/slider";
@use "./blocks/blog";
@use "./blocks/articles";
@use "./blocks/contacts";
@use "./blocks/footer";
@use "./blocks/social";
@use "./blocks/links";
@use "./blocks/news";
@use "./blocks/copyright";

html {
  font-family: 'Josefin Sans',
    sans-serif;
  font-style: normal;
  line-height: 1.5;
}


















