@use "../ulits/mixin";

.app {}

.app__wrapper {
  @include mixin.mobile-wrapper;
  padding-top: 103px;
  padding-bottom: 60px;
}

.app__box {
  width: 329px;
  margin: 0 auto;
}

.app__title {
  @include mixin.title;
  color: var(--Black, #232233);
  /* H5-25px */
  font-size: 2.5rem;
  text-align: left;
  width: 288px;
  margin-bottom: 18px;
}

.app__text {
  @include mixin.text;
  color: var(--gray-paragraph, #6C6C72);
  font-size: 1.6rem;
  margin-bottom: 41px;
}

.app__download {
  display: flex;
  gap: 25px;
}

.app__list {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
}

.app__item {
  width: 96px;
  height: 100px;

  border-radius: 5px;
  background: var(--Royal-blue, #5956E9);
  /* Effect-1 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  padding: 11px 0 12px 0;
}

.app__img {
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 auto 8px auto;
}

.app__number {
  @include mixin.title;
  color: #fff;
  font-size: 2rem;
  margin-bottom: -3px;
}

.app__info {
  @include mixin.text;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}

.app__img--big {
  width: 335px;
  height: auto;
  margin-top: 60px;
}

@media(min-width: 768px) {
  .app__wrapper {
    @include mixin.desktop-wrapper;
    display: flex;
    /* gap: 28px; */
    justify-content: space-between;
    align-items: end;
    padding-top: 160px;
    padding-bottom: 120px;
  }

  .app__title {
    font-size: 31.25px;
    font-weight: 700;
  }


  .app__img--big {
    margin: 0 0 20px 0;
    object-fit: scale-down;

  }
}

@media(min-width: 1440px) {
  .app__wrapper {
    gap: 80px;
    justify-content: centers;
  }

  .app__box {
    width: 570px;
    margin: 0;
  }

  .app__item {
    width: 170px;
    height: 176px;
    padding: 30px 0 20px;
  }

  .app__img {
    width: 35px;
    height: 35px;
    margin-bottom: 18px;
  }

  .app__number {

    font-size: 2.5rem;
    margin-bottom: 18px;
    line-height: normal;
  }

  .app__info {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .app__img--big {
    margin: 0;
    width: 516px;
    height: auto;
    object-fit: contain;
  }

}