@use "../ulits/mixin";

.articles {}

.articles__item {
  width: 343px;
  border-radius: 10px;
  background: var(--White, #FFF);
  /* Effect-1 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  padding-bottom: 30px;
  margin: 0 auto 40px auto;
}

.articles__img {
  display: block;
  width: 100%
}

.articles__title {
  @include mixin.title;
  font-size: 2rem;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 18px;
  margin-left: 18px;
}

.articles__text {
  @include mixin.text;
  margin-bottom: 20px;
    padding-left: 18px;
    padding-right: 8px;
}

.articles__link {
  color: var(--Royal-blue, #5956E9);
  font-family: Josefin Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 26px */
  text-decoration-line: underline;
  text-transform: uppercase;
  text-align: left;
    margin-left: 18px;
}