.header__box {
  display: none;
}




@media(min-width: 768px) {
  .header__box {
    display: flex;
    position: absolute;
    top: -27px;
    color: #ffffff;
    justify-content: space-between;
    width: 100%;
  }

    .box {
      .box__link {}
  
      .box__img {}
  
      .box__text {}
    }
  
  
    .box .social__list {
      margin-top: 0px;
    }
  
    .social__item {}
  
    .social__link {}
  
    .social__item_border-none {
      border: none;
    }
}

