@use "../ulits/mixin";

.footer {
  background: var(--Black, #232233);

  margin-top: -160px;
}
.footer__wrapper {
    @include mixin.mobile-wrapper;
      padding-top: 220px;
        padding-bottom: 30px;
}

.footer__social {}

.footer__links {}

.footer__news {}