@use "../ulits/mixin";

.header {
  background-color: #5956E9;
  padding-top: 47px;
  padding-bottom: 20px;
}

.header__wrapper {
  width: 96%;
  margin: 0 auto;
  background-color: #FFF;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header__download {
  color: var(--White, #FFF);
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 6px;
  display: block;
  border-radius: 3px;
  background: var(--Royal-blue, #5956E9);
  margin-right: 3px;
}

.header__logo {
  border-radius: 5px;
  background: var(--White, #FFF);
  /* Effect-1 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media(min-width: 1440px) {
  .header__wrapper {
    @include mixin.desktop-wrapper;
    padding: 0;
    height: 60px;
  }

  .header__nav {}

  .header__download {
    display: none;
  }

  .header__burger {
    display: none;
  }
}