@use "../ulits/mixin";


.how-to-use {
  background: var(--Royal-blue, #5956E9);
}

.how-to-use__wrapper {
  @include mixin.mobile-wrapper;
  padding-top: 60px;
  padding-bottom: 116px;
  margin-bottom: 134px;
  position: relative;
}

.how-to-use__title {
  @include mixin.title;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 40px
}

.how-to-use__text {
  @include mixin.text;
  color: #fff;
  text-align: center;
}

.how-to-use__video {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 10px;
  /* Effect-2 */
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
}

@media(min-width: 768px) {
  .how-to-use__wrapper {
      @include mixin.desktop-wrapper;
      padding-top: 60px;
      padding-bottom: 116px;
      margin-bottom: 134px;
      position: relative;
    }
  /*   .how-to-use__wrapper {
      @include mixin.desktop-wrapper;
  } */
  .how-to-use__title {
    font-size: 3.125rem;
    font-weight: 700;
    max-width: 375px;
    margin: 0 auto;
    margin-bottom: 18px;
  }

  .how-to-use__text {
    max-width: 450px;
    margin: 0 auto 60px auto;
  }

  .how-to-use__video {
    width: 570px;
    border-radius: 18px;
  }

  .how-to-use__wrapper {
    margin-bottom: 280px;
  }
}

@media(min-width: 1440px) {
  .how-to-use__title {
    max-width: 900px;
  }

  .how-to-use__video {
    width: 770px;
    border-radius: 25px
  }

  .how-to-use__text {
    margin-bottom: 120px;
  }
}